.container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.spinner {
	display: grid;
	place-items: center;
	height: calc(100vh - 50px - 45px);
	font-size: 30px;
}
.selected {
	font-weight: bold;
}

.paginationList {
	display: flex;
	list-style: none;
}
