.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto 0;
  padding: 20px 50px;
  height: auto;
  background-color: cadetblue;
}
.title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.desc {
  font-size: 20px;
  text-align: left;
}
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.actions a {
  margin-left: 10px;
}
.postedOn {
  opacity: 0.6;
}

/* .form {
  display: flex;
  flex-direction: column;
} */

/* .form__inputs input, textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */