.form {
	padding: 0 100px;
	margin-top: 15px;
}

.formFields > textarea {
  height: 300px;
}

.formFields > input,
textarea {
	display: block;
	font-size: 20px;
	padding: 10px;
	width: 100%;
	margin: 10px 0;
	height: 50px;
}

.error {
	border: 2px solid red;
}
